*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
input.error{
  border: 1px solid red;
}
.error-message{
  display: none;
}
.error + .error-message{
  display: block;
  color: red;
  font-size: 12px;
}