<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./../myicon.ico">

  <title>List</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./../public/main.css">


</head>

<body>

  <%- include('nav.ejs') %>


    <!-- ejs 문법: <% %>여기 안은 자바스크립트 문법을 실행하는 곳임 -->
    <div class="container-md mt-2">
      <h2 class="fs-4 fw-bold text-center">My Post List <i class="bi bi-tsunami"></i></h2>
      <div class="mt-5 no-post text-center ">
        <div class="p-3 fs-1"><i class="bi bi-patch-check"></i></div>
        <p class="fs-6">아직 게시물이 없어요.<br /> 게시물을 작성 해 주세요!</p>
        <a href="/write" class="btn btn-outline-dark btn-sm">Write <i class="bi bi-pencil-fill"></i></a>
      </div>
      <ul class="list-group list-group-flush mt-2">
        <% for (var i=0; i < posts.length; i++){ %>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
            <a class="detail-anchor" href="https://dotted-furnace-360604.du.r.appspot.com/mydetail/<%= posts[i]._id %>">
              <h6 class="fs-6 title fw-bold">
                <%= posts[i].title %>
              </h6>
            </a>
            <div>
              <button class="btn btn-secondary btn-sm delete" data-id="<%= posts[i]._id %>">Del</button>
            </div>
          </li>
          <% } %>
      </ul>
    </div>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $('.delete').click(function (e) {
          var postNum = e.target.dataset.id;
          var 지금누른것 = $(this);
          $.ajax({
            method: 'DELETE',
            url: '/delete',
            data: { _id: postNum }
          }).done(function (결과) {
            지금누른것.parents('li').remove();
          }).fail(function () {
            alert("삭제 실패")
          });
        });
        if ($('.list-group-item').length > 0) {
          $('.no-post').css('display', 'none');
        } else {
          $('.no-post').css('display', 'block');
        }

      });

    </script>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

</body>

</html>